<div class="text-center">
<label>Please enter the medicine name  :</label>
<input type="text" name ="mname">
<br/>
<label>Please enter the medicine description  :</label>
<input type="text" name ="mdesc">
<br/>
<label>Please enter the medicine price  :</label>
<input type="text" name ="mprice">
<br/>
<label>Please enter the medicine seller  :</label>
<input type="text" name ="mseller">
<br/>
<input type="button" value="submit" (click)="addmed()" >
</div>

<div class="text-center" >
<h4>To logout please click here</h4>

<a routerLink="logout">Click here</a>
<br/>
<h4>To go back to the home page please click here</h4>

<a routerLink="">Click here</a>
<br/>
</div>